<p>
    @Html.Label("Fecha 3:  ")
    @Html.Editor("fechaTres")
</p>
<script type="text/javascript">
    $(document).ready(function () {
        $("#fechaTres").datepicker({dateFormat : 'dd/mm/yy'});
    });
</script>

